<section></section>
<footer class="footer-distributed">
    <div class="footer-width">
      <h2>Travel<span>Map</span></h2>
      <p class="footer-app-name"> ©2020 Travel Map </p>
      <div class="footer-icons">
        <a href="https://github.com/yukilaurentiu" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/yukikolaurentiu/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/fillmylifewithventure/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>    
    </div>

    <div class="footer-width"> 
     <div class="footer-links">
        <%= link_to "Home", root_path, class: "link-1" %>
        <%= link_to "About", about_path, class: "link-1" %> 
     </div>
    </div> 

    <div class="footer-width">
      <p class="footer-app-about">
        The world's largest travel platform, making your trip the best trip.
        <br> 
        Go ahead and start your travels with us, the ultimate travel companion.
        <br>
        - Travel Map team
      </p>
    </div>
  
</footer>

 <%# <div>
          <i class="fa fa-map-marker"></i>
          <p><span>IJsbaanpad 12, 1076 CV </span> Amsterdam, Netherlands</p>
        </div> %>

        <%# <div>
          <i class="fa fa-phone"></i>
          <p>+353.318.347.9252</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@travelmap.com</a></p>
        </div> %>