<section></section>
<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Travel<span>Map</span></h3>


        <p class="footer-app-name"> ©2020 Travel map</p>
        <div class="footer-icons">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>    
      </div>

     <div class="footer-center"> 
      <p class="footer-links">
        <%= link_to "Home", root_path, class: "link-1" %>
        <a> <%= link_to "Contact", contact_path, class: "link-1" %> </a>
        <a href="#">Contact</a>
      </p>
 
        <%# <div>
          <i class="fa fa-map-marker"></i>
          <p><span>IJsbaanpad 12, 1076 CV </span> Amsterdam, Netherlands</p>
        </div> %>

        <%# <div>
          <i class="fa fa-phone"></i>
          <p>+353.318.347.9252</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@travelmap.com</a></p>
        </div> %>

      </div> 

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the App</span>
          The world's largest travel platform, making your trip the best trip. Go ahead and start your travels with us, the ultimate travel companion.
        </p>


      </div>

    </footer>
