<div class="container text-center">
  <header>
    <h1 class="title-font">About</h1>
  </header>

  <div>
    <label for="Name">Name</label>
    <input type="text" requierd>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" requierd>
  </div>
</div>