<div class="banner" id="about-padding" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= asset_path('about.jpg') %>')"> 
 <header>
  <h1 class="title-font text-center mb-5">About</h1>
  <p class="container about-p">
    <strong>Welcome to our travel app, Travel Map! </strong>
    <br><br>
    We developed the app as a final project during the Le Wagon Bootcamp mainly using Ruby on Rails.
    <br>
    Our app follows the MVC pattern and prioritizes security with an authentication and authorization system. 
    <br>
    Fun to plan your trips with our integrated calendar and stay connected with fellow travellers through our real-time chat. 
    <br>
    The map functionality implemented with JavaScript, allows you to share and explore favorite locations. Enjoy creating your own map, sharing experiences, and making travel-note with social network interactions!
  </p>
 </header>
</div>

