<div class="banner" id="about-padding" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= asset_path('about.jpg') %>')"> 
  <h1 class="title-font text-center mb-5">About</h1>
  <p class="container" id="about-p">
    <strong class="title-font">Welcome to our app, Travel Map! </strong>
    <br><br>
    We developed the app as a final project during the <a href="https://www.lewagon.com/" target="_blank">Le Wagon Bootcamp</a> mainly using Ruby on Rails.
    <br>
    Our app follows the MVC pattern and prioritizes security with an authentication and authorization system. 
    <br>
    Fun to plan your trips with our integrated calendar and stay connected with fellow travellers through our real-time chat. 
    <br>
    The map functionality implemented with JavaScript, allows you to share and explore favorite locations. 
    <br>
    Enjoy creating your own map, sharing experiences, and making travel-note with social network interactions!
  </p>

  <p class="container" id="about-p">
    <strong class="title-font">Team</strong>
  </p>
  <div class="about-cards">
    <div class="about-card">
      <img src="https://avatars.githubusercontent.com/u/108889285?v=4" alt="Antonio Moreno" style="width:20%">
      <div class="container margin-content">
        <p><b>Antonio Moreno</b></p>
      </div>
      <div class="about-icon">
        <a href="https://github.com/4moreno" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>

    <div class="about-card">
      <img src="https://avatars.githubusercontent.com/u/89793341?v=4" alt="Sonja Peschke" style="width:20%">
      <div class="container margin-content">
        <p><b>Sonja Peschke</b></p>
      </div>
      <div class="about-icon">
        <a href="https://github.com/code-kedi" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>

    <div class="about-card">
      <img src="https://avatars.githubusercontent.com/u/109345195?v=4" alt="José Bello" style="width:20%">
      <div class="container margin-content">
        <p><b>José Bello</b></p>
      </div>
      <div class="about-icon">
        <a href="https://github.com/jbellma" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
    
  
  <p class="container" id="about-p">
    <strong class="title-font">Special Thanks</strong>
  </p>
  <div class="about-cards">
    <div class="about-card">
      <img src="https://avatars.githubusercontent.com/u/32710812?v=4" alt="philippe laurentiu" style="width:20%">
      <div class="container margin-content">
        <p><b>Philippe Laurentiu</b></p>
      </div>
      <div class="about-icon">
        <a href="https://github.com/philippe-laurentiu" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>



  


