section {
  width: 100%;
  display: inline-block;
  background: $teal;
  height: 0.30vh;
}

.footer-distributed{
  background: $peach;
  color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 100px;
}

.footer-distributed h2 span{
  color:  $dark-teal;
}

.footer-width {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 10px; 
}

.footer-distributed .footer-links a{
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  color:  inherit;
  margin-bottom: 10px; 
  &:hover {
    color: $dark-teal;
 }
}

.footer-distributed .footer-app-name{
  color:  #ffffff;
  font-size: 0.9rem;
  margin-top: 10px;
}

.footer-distributed p{
  display: inline-block;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-app-about{
  line-height: 30px;
  font-size: 1rem;
  font-weight: normal;
}

.footer-distributed .footer-company-about span{
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  transparent;
  border-radius: 2px;
  &:hover {
         color: $dark-teal;
      }

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-top: 10px;
}

// .footer-distributed .footer-links a:before {
//   content: "|";
//   font-weight:300;
//   font-size: 20px;
//   left: 0;
//   color: #fff;
//   display: inline-block;
//   padding-right: 5px;
// }