.header {
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 0.8rem;
  transition: 0.5s background-color ease;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 0.2rem ;
  list-style: none;
}

.navbar-list li:last-child {
  padding-left: 12px;
}

.nav-item-hp {
  padding: 0 1px;
  font-size: 17px;

  a {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    &:hover {
      color: $peach;
    }
  }
}

.searchbar {
  display: flex;
  align-items: center;
  
  input {
    border: none;
  }

  input::placeholder {
    padding:0.1rem;
    font-size: 1rem;
    font-weight: 400;
    opacity: .7;
  }
}

#logo-navbar-hp {
  width: 4.5rem;
  height: auto;
}

.navbar-brand img {
  width: 50px;
}

.icon-camera a {
  all: unset;
}

.form-control {
  border-radius: 25px;
  margin-right: 10px;
}
