.header {
  display: flex;
  background: transparent;
  padding: 0.8rem;
  transition: 0.5s background-color ease;
}

.nav-item-hp {
  font-size: 1.2rem;

  a {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    &:hover {
      color: $peach;
    }
  }
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > a { margin-right: auto; }

.box:last-child  > ul { margin-left: auto;  }

.searchbar {
  display: flex;
  align-items: center;
  
  input {
    border: none;
  }

  input::placeholder {
    padding:0.1rem;
    font-size: 1rem;
    font-weight: 400;
    opacity: .7;
  }
}

.navbar-brand img {
  width: 50px;
}

.icon-camera a {
  all: unset;
}

.form-control {
  border-radius: 25px;
  margin-right: 10px;
}
